name: Infra
on:
  push:
    paths: [ "infra/**" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  plan-apply:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - uses: hashicorp/setup-terraform@v3
      - run: terraform init
        working-directory: infra
      - run: terraform plan -var env=dev -var weathergov_user_agent="${{ secrets.WEATHERGOV_USER_AGENT }}" -var default_points="${{ secrets.DEFAULT_POINTS }}"
        working-directory: infra
      - if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -var env=dev -var weathergov_user_agent="${{ secrets.WEATHERGOV_USER_AGENT }}" -var default_points="${{ secrets.DEFAULT_POINTS }}"
        working-directory: infra
